/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 de abr. de 2023, 10:51:01
    Author     : nicol
*/

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff3547;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #0A2647,#2C74B3);
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:20px;
    -fx-text-fill:#ffffff;
    -fx-alignment:CENTER-LEFT;
}

.cr-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#ffffff;
    -fx-alignment:CENTER-LEFT;
}

.atv-btn{
    -fx-background-color:linear-gradient(to bottom right, #0A2647,#2C74B3);
    -fx-cursor:hand;
}

.appointments-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:18px;
    -fx-text-fill:#ffffff;
    -fx-alignment:CENTER-LEFT;
}

.logout{
    -fx-background-color:#0A2647;
    -fx-background-radius:10px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:#ff3535;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.card{
    -fx-background-color:linear-gradient(to right, #2b303c, #525968);
    -fx-background-radius:5px;
}

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to right, #2b303c, #525968);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to right, #2b303c, #525968);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}

.aprove{
    -fx-background-color:#2b913c;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.aprove:hover{
    -fx-background-color:#1f6b2a;
}

.reprove{
    -fx-background-color:#df1a1a;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.reprove:hover{
    -fx-background-color:#991a1a;
}

.left-form{
    -fx-background-color:linear-gradient(to bottom right, #0A2647,#2C74B3);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px 4px;
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#dd1717;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:#000;
    -fx-border-width:.4px;
    -fx-border-radius:4px;
    -fx-font-size:13px;
    -fx-font-family:"Arial"  
        
}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #0A2647,#2C74B3);
    -fx-border-width:.8px; 
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom, #0A2647,#2C74B3); 
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #0A2647,#2C74B3);
}

.arial-font {
-fx-font-family: "Arial";
}